@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ul li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

body {
  background-color: black;
  height: 100%;
  font-size: 1.8rem; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .container .itemForm {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem; }
    .container .itemForm h1 {
      padding-bottom: 1.5rem; }
    .container .itemForm .productImg img {
      width: 90vw; }
      .container .itemForm .productImg img p {
        padding-top: 2rem;
        text-align: right;
        padding-bottom: 2rem; }
    .container .itemForm .selectSize {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 3rem;
      width: 90vw; }
      .container .itemForm .selectSize p {
        padding-bottom: 1rem; }
      .container .itemForm .selectSize form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .container .itemForm .selectSize form label {
          width: 30%;
          position: relative;
          overflow: hidden; }
          .container .itemForm .selectSize form label input {
            position: absolute;
            top: -20px; }
            .container .itemForm .selectSize form label input:checked + span {
              border-color: black;
              border-width: .2rem;
              border-style: solid; }
          .container .itemForm .selectSize form label span {
            height: 5vh;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: gray;
            padding: .5rem;
            border: 0;
            cursor: pointer; }
    .container .itemForm .selectColor {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 3rem; }
      .container .itemForm .selectColor p {
        padding-bottom: 1rem; }
      .container .itemForm .selectColor fieldset .colorFields {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
        .container .itemForm .selectColor fieldset .colorFields .green > span {
          background-color: green; }
        .container .itemForm .selectColor fieldset .colorFields .red > span {
          background-color: red; }
        .container .itemForm .selectColor fieldset .colorFields .gray > span {
          background-color: gray; }
        .container .itemForm .selectColor fieldset .colorFields .blue > span {
          background-color: blue; }
        .container .itemForm .selectColor fieldset .colorFields label {
          position: relative;
          overflow: hidden; }
          .container .itemForm .selectColor fieldset .colorFields label input {
            position: absolute;
            top: -20px; }
            .container .itemForm .selectColor fieldset .colorFields label input:checked + span {
              border-color: black;
              border-width: .2rem;
              border-style: solid; }
          .container .itemForm .selectColor fieldset .colorFields label span {
            height: 10vh;
            width: 17vw;
            padding: .5rem;
            border: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            cursor: pointer; }

@media screen and (min-width: 43rem) {
  .container .itemForm {
    width: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0; }
    .container .itemForm h1 {
      padding: .5rem 0rem .5rem 1rem; }
    .container .itemForm .productImg {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: calc(50vw - 2rem);
      padding: 1rem; }
      .container .itemForm .productImg img {
        width: 90%; }
      .container .itemForm .productImg p {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end; }
    .container .itemForm .selectSize p {
      padding-left: 1rem; }
    .container .itemForm .selectSize form {
      width: 50vw;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .container .itemForm .selectSize form label {
        width: 15vw; }
        .container .itemForm .selectSize form label span {
          width: auto; }
    .container .itemForm .selectColor p {
      padding-left: 1rem; }
      .container .itemForm .selectColor p .colorFields {
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
    .container .itemForm .selectColor label {
      width: 11vw; }
    .container .itemForm .selectColor .green span {
      width: auto;
      background-color: green; }
    .container .itemForm .selectColor .red span {
      width: auto;
      background-color: red; }
    .container .itemForm .selectColor .gray span {
      width: auto;
      background-color: gray; }
    .container .itemForm .selectColor .blue span {
      width: auto;
      background-color: blue; } }

@media screen and (min-width: 800px) {
  .container .itemForm {
    width: 33.33%; }
    .container .itemForm .productImg {
      width: calc(100% - 1.9rem); }
    .container .itemForm .selectSize {
      width: auto; }
      .container .itemForm .selectSize form {
        width: 33vw; }
        .container .itemForm .selectSize form label {
          width: 10vw; }
    .container .itemForm .selectColor fieldset .colorFields {
      width: 100%; }
      .container .itemForm .selectColor fieldset .colorFields label {
        width: 7vw; } }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .container .addressForm {
    background-color: #caccce;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem;
    padding-bottom: 6rem; }
    .container .addressForm h1 {
      color: black;
      padding-bottom: 1.5rem; }
    .container .addressForm fieldset .shippingFields .fullname, .container .addressForm fieldset .shippingFields .email {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 90vw;
      padding-bottom: 1rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .container .addressForm fieldset .shippingFields .fullname h4, .container .addressForm fieldset .shippingFields .email h4 {
        color: black;
        padding-bottom: 1rem; }
      .container .addressForm fieldset .shippingFields .fullname input, .container .addressForm fieldset .shippingFields .email input {
        width: 100%;
        height: 5vh;
        border-color: black; }
    .container .addressForm fieldset .shippingFields .address {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 1rem;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 90vw; }
      .container .addressForm fieldset .shippingFields .address .address1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 48%; }
        .container .addressForm fieldset .shippingFields .address .address1 input {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          height: 5vh;
          border-color: black;
          width: 100%; }
      .container .addressForm fieldset .shippingFields .address .address2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 48%; }
        .container .addressForm fieldset .shippingFields .address .address2 input {
          height: 5vh;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          border-color: black;
          width: 100%; }
    .container .addressForm fieldset .shippingFields .location {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 1rem;
      width: 90vw; }
      .container .addressForm fieldset .shippingFields .location .city {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 40%; }
        .container .addressForm fieldset .shippingFields .location .city input {
          height: 5vh;
          border-color: black; }
      .container .addressForm fieldset .shippingFields .location .state {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20%; }
        .container .addressForm fieldset .shippingFields .location .state input {
          height: 5vh;
          border-color: black; }
      .container .addressForm fieldset .shippingFields .location .zip {
        width: 35%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .container .addressForm fieldset .shippingFields .location .zip input {
          height: 5vh;
          border-color: black;
          width: 100%; }
    .container .addressForm fieldset .shippingFields .country {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 1rem;
      width: 90vw; }
      .container .addressForm fieldset .shippingFields .country input {
        width: 100%;
        height: 5vh;
        border-color: black; }

@media screen and (min-width: 31rem) {
  .container .addressForm {
    width: 50%;
    padding: 0; }
    .container .addressForm h1 {
      padding: .5rem 0rem  2rem 1rem; }
    .container .addressForm fieldset .shippingFields {
      padding-left: 1rem;
      padding-right: 1rem; }
      .container .addressForm fieldset .shippingFields .fullname, .container .addressForm fieldset .shippingFields .email {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .container .addressForm fieldset .shippingFields .fullname input, .container .addressForm fieldset .shippingFields .email input {
          height: 5vh;
          border-color: black;
          width: 100%; }
      .container .addressForm fieldset .shippingFields .address {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .container .addressForm fieldset .shippingFields .address .address1, .container .addressForm fieldset .shippingFields .address .address2 {
          width: 100%; }
      .container .addressForm fieldset .shippingFields .location {
        width: 100%; }
        .container .addressForm fieldset .shippingFields .location .city, .container .addressForm fieldset .shippingFields .location .state, .container .addressForm fieldset .shippingFields .location .zip {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          .container .addressForm fieldset .shippingFields .location .city input, .container .addressForm fieldset .shippingFields .location .state input, .container .addressForm fieldset .shippingFields .location .zip input {
            width: 100%; }
      .container .addressForm fieldset .shippingFields .country {
        width: 100%; }
        .container .addressForm fieldset .shippingFields .country input {
          width: 100%; } }

@media screen and (min-width: 50rem) {
  .container .addressForm {
    width: 33.33%;
    padding: 0; }
    .container .addressForm fieldset .shippingFields .address {
      width: 100%; } }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .container .checkoutForm {
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1rem;
    padding-bottom: 6rem; }
    .container .checkoutForm .productPrice {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom-color: gray;
      border-bottom-width: .2rem;
      border-bottom-style: solid;
      padding-top: 3rem;
      padding-bottom: 2rem; }
    .container .checkoutForm .shippingPrice {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 3rem;
      padding-bottom: 1rem;
      border-bottom-color: gray;
      border-bottom-width: .2rem;
      border-bottom-style: solid; }
      .container .checkoutForm .shippingPrice div > p {
        padding-bottom: .5rem; }
    .container .checkoutForm .shippingAddress {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 4rem; }
      .container .checkoutForm .shippingAddress p:nth-of-type(1) {
        padding-bottom: 1rem; }
      .container .checkoutForm .shippingAddress .formBtn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 5vh;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 2rem; }
        .container .checkoutForm .shippingAddress .formBtn button {
          width: 100%;
          height: 6vh;
          border-radius: 1rem;
          border: 0;
          background-color: green;
          font-weight: bold;
          font-size: 1.7rem; }

@media screen and (min-width: 31rem) {
  .container .checkoutForm {
    width: 100%; }
    .container .checkoutForm .shippingAddress .formBtn {
      padding-top: 10rem; } }

@media screen and (min-width: 50rem) {
  .container .checkoutForm {
    width: 33.33%;
    padding: 0; }
    .container .checkoutForm h1 {
      padding: .5rem 0rem  1rem 1rem; }
    .container .checkoutForm .productPrice p {
      padding-left: 1rem;
      padding-right: 1rem; }
    .container .checkoutForm .shippingPrice p {
      padding-left: 1rem;
      padding-right: 1rem; }
    .container .checkoutForm .shippingAddress p {
      padding-left: 1rem; }
    .container .checkoutForm .shippingAddress .formBtn {
      width: 90%;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; } }
