@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ul li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

body {
  background-color: black;
  height: 100%;
  font-size: 1.8rem; }

.itemForm h1 {
  padding-bottom: 1.5rem; }

.itemForm .productImg img {
  width: 90vw; }

.itemForm .productImg p {
  padding-top: 2rem;
  text-align: right;
  padding-bottom: 2rem; }

.itemForm .selectSize {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 3rem;
  width: 90vw; }
  .itemForm .selectSize p {
    padding-bottom: 1rem; }
  .itemForm .selectSize form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .itemForm .selectSize form label {
      width: 30%;
      position: relative;
      overflow: hidden; }
      .itemForm .selectSize form label input {
        position: absolute;
        top: -20px; }
        .itemForm .selectSize form label input:checked + span {
          border-color: black;
          border-width: .2rem;
          border-style: solid; }
      .itemForm .selectSize form label span {
        height: 5vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: gray;
        padding: .5rem;
        border: 0;
        cursor: pointer; }

.itemForm .selectColor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 3rem; }
  .itemForm .selectColor p {
    padding-bottom: 1rem; }
  .itemForm .selectColor form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .itemForm .selectColor form .green > span {
      background-color: green; }
    .itemForm .selectColor form .red > span {
      background-color: red; }
    .itemForm .selectColor form .gray > span {
      background-color: gray; }
    .itemForm .selectColor form .blue > span {
      background-color: blue; }
    .itemForm .selectColor form label {
      position: relative;
      overflow: hidden; }
      .itemForm .selectColor form label input {
        position: absolute;
        top: -20px; }
        .itemForm .selectColor form label input:checked + span {
          border-color: black;
          border-width: .2rem;
          border-style: solid; }
      .itemForm .selectColor form label span {
        height: 10vh;
        width: 17vw;
        padding: .5rem;
        border: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer; }

@media screen and (min-width: 426px) {
  .itemForm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .itemForm h1 {
      padding: .5rem 0rem .5rem 1rem; }
    .itemForm .productImg {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: calc(50vw - 2rem);
      padding: 1rem; }
      .itemForm .productImg img {
        width: 90%; }
      .itemForm .productImg p {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end; }
    .itemForm .selectSize p {
      padding-left: 1rem; }
    .itemForm .selectSize form {
      width: 50vw;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .itemForm .selectSize form .green > span {
        background-color: green; }
      .itemForm .selectSize form .red > span {
        background-color: red; }
      .itemForm .selectSize form .gray > span {
        background-color: gray; }
      .itemForm .selectSize form .blue > span {
        background-color: blue; }
      .itemForm .selectSize form label {
        width: 15vw; }
        .itemForm .selectSize form label span {
          width: auto; }
    .itemForm .selectColor p {
      padding-left: 1rem; }
    .itemForm .selectColor form {
      width: 50vw;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .itemForm .selectColor form label {
        width: 11vw; }
      .itemForm .selectColor form .green span {
        width: auto;
        background-color: green; }
      .itemForm .selectColor form .red span {
        width: auto;
        background-color: red; }
      .itemForm .selectColor form .gray span {
        width: auto;
        background-color: gray; }
      .itemForm .selectColor form .blue span {
        width: auto;
        background-color: blue; } }

@media screen and (min-width: 800px) {
  .itemForm .productImg {
    width: calc(100% - 1.9rem); }
  .itemForm .selectSize form {
    width: 100%; }
    .itemForm .selectSize form label {
      width: 10vw; }
  .itemForm .selectColor form {
    width: 100%; }
    .itemForm .selectColor form label {
      width: 7vw; } }

.addressForm h1 {
  color: black;
  padding-bottom: 1.5rem; }

.addressForm form fieldset .fullname, .addressForm form fieldset .email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .addressForm form fieldset .fullname h4, .addressForm form fieldset .email h4 {
    color: black;
    padding-bottom: 1rem; }
  .addressForm form fieldset .fullname input, .addressForm form fieldset .email input {
    width: 100%;
    height: 5vh;
    border-color: black; }

.addressForm form fieldset .address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90vw; }
  .addressForm form fieldset .address .address1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 48%; }
    .addressForm form fieldset .address .address1 input {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 5vh;
      border-color: black;
      width: 100%; }
  .addressForm form fieldset .address .address2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 48%; }
    .addressForm form fieldset .address .address2 input {
      height: 5vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border-color: black;
      width: 100%; }

.addressForm form fieldset .location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 90vw; }
  .addressForm form fieldset .location .city {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%; }
    .addressForm form fieldset .location .city input {
      height: 5vh;
      border-color: black; }
  .addressForm form fieldset .location .state {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 20%; }
    .addressForm form fieldset .location .state input {
      height: 5vh;
      border-color: black; }
  .addressForm form fieldset .location .zip {
    width: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .addressForm form fieldset .location .zip input {
      height: 5vh;
      border-color: black;
      width: 100%; }

.addressForm form fieldset .country {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 90vw; }
  .addressForm form fieldset .country input {
    width: 100%;
    height: 5vh;
    border-color: black; }

@media screen and (min-width: 426px) {
  .addressForm h1 {
    padding: .5rem 0rem  2rem 1rem; }
  .addressForm form fieldset {
    width: calc(97% - 1rem);
    padding-left: 1rem;
    padding-right: 1rem; }
    .addressForm form fieldset .fullname, .addressForm form fieldset .email {
      width: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .addressForm form fieldset .fullname input, .addressForm form fieldset .email input {
        height: 5vh;
        border-color: black;
        width: 100%; }
    .addressForm form fieldset .address {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .addressForm form fieldset .address .address1 input, .addressForm form fieldset .address .address2 input {
        width: 100%; }
    .addressForm form fieldset .location {
      width: 50%; }
      .addressForm form fieldset .location .city, .addressForm form fieldset .location .state, .addressForm form fieldset .location .zip {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .addressForm form fieldset .location .city input, .addressForm form fieldset .location .state input, .addressForm form fieldset .location .zip input {
          width: 100%; }
    .addressForm form fieldset .country {
      width: 50%; }
      .addressForm form fieldset .country input {
        width: 100%; } }

.checkoutForm .productPrice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-color: gray;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  padding-top: 3rem;
  padding-bottom: 2rem; }

.checkoutForm .shippingPrice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-bottom-color: gray;
  border-bottom-width: .2rem;
  border-bottom-style: solid; }
  .checkoutForm .shippingPrice div > p {
    padding-bottom: .5rem; }

.checkoutForm .shippingAddress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 4rem; }
  .checkoutForm .shippingAddress p:nth-of-type(1) {
    padding-bottom: 1rem; }

.checkoutForm .formBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .checkoutForm .formBtn form {
    width: 90%; }
    .checkoutForm .formBtn form button {
      width: 100%;
      height: 6vh;
      border-radius: 1rem;
      border: 0;
      background-color: green;
      font-weight: bold;
      font-size: 1.7rem; }

@media screen and (min-width: 426px) {
  .formBtn form button {
    width: 100%;
    height: 8vh;
    border-radius: 1rem;
    border: 0; } }

@media screen and (min-width: 800px) {
  .checkoutForm .productPrice, .checkoutForm .shippingPrice, .checkoutForm .shippingAddress {
    padding-left: .5rem;
    padding-right: .5rem; }
  .checkoutForm .formBtn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    .checkoutForm .formBtn form {
      width: 90%; }
      .checkoutForm .formBtn form button {
        width: 100%; } }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .container .itemForm {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem; }
  .container .addressForm {
    background-color: #caccce;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem;
    padding-bottom: 6rem; }
  .container .checkoutForm {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1rem;
    padding-bottom: 6rem; }

@media screen and (min-width: 426px) {
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .container .itemForm {
      width: 50%;
      padding: 0; }
    .container .addressForm {
      width: 50%;
      padding: 0; } }

@media screen and (min-width: 800px) {
  .container .itemForm {
    width: 33.33%; }
  .container .addressForm {
    width: 33.33%; }
  .container .checkoutForm {
    width: 33.33%;
    padding: 0; } }
