//=============== ADDRESS FORM ===============
.addressForm
  background-color: #caccce
  display: flex
  flex-direction: column
  padding-left: 5vw
  padding-right: 5vw
  padding-top: 2rem
  padding-bottom: 6rem
  h1
    color: black
    padding-bottom: 1.5rem
  form
    fieldset
      .fullname, .email
        display: flex
        width: 90vw
        padding-bottom: 1rem
        flex-direction: column
        h4
          color: black
          padding-bottom: 1rem
        input
          width: 90vw
          height: 5vh
          border-color: black

      .address
        display: flex
        padding-bottom: 1rem
        justify-content: space-between

        .address1
          flex-direction: column
          input
            display: flex
            height: 5vh
            border-color: black
            width: 40vw

        .address2
          flex-direction: column
          input
            height: 5vh
            display: flex
            border-color: black
            width: 40vw
      .location
        display: flex
        justify-content: space-between
        padding-bottom: 1rem
        .city
          display: flex
          flex-direction: column
          input
            height: 5vh
            border-color: black
            width: 28vw
        .state
          display: flex
          flex-direction: column
          input
            height: 5vh
            border-color: black
            width: 10vw
        .zip
          display: flex
          flex-direction: column
          input
            height: 5vh
            border-color: black
      .country
        display: flex
        flex-direction: column
        padding-bottom: 1rem
        input
          height: 5vh
          border-color: black
