//=============== GLOBAL VARIABLES ===============
@import "reset"
@import url('https://fonts.googleapis.com/css?family=Roboto:700')

// FONT WEIGHTS
$light: 100
$regular: 400
$bold: 600

// BASE FONT
$font: 'Roboto', sans-serif

// 3 MAIN FONT SIZES
$primary-font-size: 1.8rem

// FONT COLORS
$primary-color: white
$secondary-color: black
$action-color: red

// HEADINGS
$header-font-weight: $bold

//=============== BASE STRUCTURE ===============
html
  height: 100%
  margin: 0
  font-size: 62.5%

body
  background-color: black
  height: 100%
  font-size: $primary-font-size

// @media screen and (max-width:425px)
//   .container
//     display: flex
//     flex-direction: column
//     .itemForm
//       background-color: white
//       display: flex
//       flex-direction: column
//       padding-left: 5vw
//       padding-right: 5vw
//       padding-top: 2rem
//     .addressForm
//       background-color: #caccce
//       display: flex
//       flex-direction: column
//       padding-left: 5vw
//       padding-right: 5vw
//       padding-top: 2rem
//       padding-bottom: 6rem
//     .checkoutForm
//       background-color: white
//       display: flex
//       flex-direction: column
//       padding-left: 5vw
//       padding-right: 5vw
//       padding-top: 1rem
//       padding-bottom: 6rem
//
//   @media screen and (min-width:426px)
//     .container
//       display: flex
//       flex-wrap: wrap
//       flex-direction: row
//       .itemForm
//         width: 50%
//         padding: 0
//       .addressForm
//         width: 50%
//         padding: 0
//       .checkoutForm
//         width: 100%
//
//   @media screen and (min-width:800px)
//     .container
//       .itemForm
//         width: 33.33%
//       .addressForm
//         width: 33.33%
//       .checkoutForm
//         width: 33.33%
//         padding: 0
